/* stylelint-disable-next-line string-quotes */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@/assets/styles/base.css';
@import '@/assets/styles/variable.less';
@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  >div {
    color: red;
  }
}

// 只能rgb
@layer base {
  :root {
    --li-text-color: 0, 0, 0;
    --li-bg-color: 255, 255, 255;
    --li-border-color: 230, 230, 230;
    --li-iconLeftBg-color: 230, 230, 230;
    --li-textIconText-color: 0, 0, 0;
  }

  .dart {
    --li-text-color: 255, 255, 255;
    --li-bg-color: 32, 43, 64;
    --li-border-color: 56, 71, 102;
    --li-iconLeftBg-color: 49, 62, 89;
    --li-textIconText-color: 255, 255, 255;
  }

  .light {
    --li-text-color: 0, 0, 0;
    --li-bg-color: 255, 255, 255;
    --li-border-color: 230, 230, 230;
    --li-iconLeftBg-color: 245, 245, 245;
    --li-textIconText-color: 0, 0, 0;
  }
}